<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/akylai/Documents/QA/Winter2022TAF">
        <classes>
            <class name="annotations.SampleTest">
                <methods>
                    <include name="DemoTest1"/>
                    <include name="DemoTest2"/>
                    <include name="demoTest"/>
                    <include name="demoTest2"/>
                </methods>
            </class>
            <class name="scrum.Logic2">
                <methods>
                    <include name="blackjack"/>
                    <include name="loneSum"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>